@import url('https://fonts.cdnfonts.com/css/poppins');

*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
}


.navbar{
    position: fixed;
    width: 90%;
    height: 5rem;
    /*background-color: rgb(33, 30, 30);
    backdrop-filter: blur(10px);*/
    right: 5%;
    left: 5%;
    top: 2rem;
    border-radius: 1rem;
    border: 0.05px solid rgb(173, 143, 162);
    display: flex;
    align-items: center;
    z-index: 8;
    /*background:
    linear-gradient(
      rgba(40, 40, 40, 0.6),
      rgba(40, 40, 40, 0.6)
    );*/
}

.image{
    position: relative;
    height: 3.5rem;
    width: 3.5rem;
    background-image: url(profile.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
    left: 2%;
}

.fed{
    margin-left: 1.2rem;
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
}
/*
.navtool{
    height: 3rem;
}*/

.link{
    display: flex;
    position: relative;
    border-radius: 2rem;
    left: 2%;
    align-items: center;
    text-decoration: none;
}

.text{
    font-size: 1.5rem;
    text-decoration: none;
}

.signin{
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: rgba(245,87,37,255);
}

.logout{
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: rgba(245,87,37,255);
}

.button1:hover{
    cursor: pointer;
}

.navtool{
    position: relative;
    left: 50%;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

/*Carousel*/

.carousel{
    position: relative;
}

.content1{
    background-image: url(FED/left.png);
    background-size: cover;
}

.content2{
    background-image: url(FED/content2.jpg);
    background-size: cover;
}

.content3{
    background-image: url(FED/content3.jpg);
    background-size: cover;
}

.content4{
    background-image: url(FED/content4.jpg);
    background-size: cover;
}

.heroimg{
    top: 0;
    left: 0;
    height: 46rem;
    width: 50%;
    display: none;
}

.carousel__item--selected {
    display: block;
}

.carousel__nav {
    width: 50%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: -15rem;
    text-align: center;
}
  
.carousel__button {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: rgba(227, 197, 197, 1);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
  
.carousel__button--selected {
    background: rgb(203, 85, 42);
}

.herotext{
    background-color: black;
    background-image: linear-gradient(to bottom,black 15rem,rgb(34, 32, 32),rgb(73, 37, 18));
    height: 46rem;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 50%;
    width: 50%;
    display: flex;
    align-items: center;
}

.lets{
    position: absolute;
    top: 12rem;
    left: 3rem;
    font-size: 5rem;
}

.connect{
    position: absolute;
    top: 18rem;
    left: 3rem;
    font-size: 5rem;
}

.you{
    font-size: 2.75rem ;
    position: absolute;
}

.you1{
    left: 3rem;
    top: 27rem;
}

.orange{
    color: rgb(255, 94, 0);
}

.you2{
    left: 3rem;
    top: 31rem;
}

.you3{
    left: 3rem;
    top: 35rem;
}

.enroll{
    font-size: 1.5rem;
    font-weight: 600;
    background-color: rgb(255, 94, 0);
    position: absolute;
    bottom: 2rem;
    right: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 3rem 7rem rgba(0, 0, 0, 1);
}

/*footer*/

.footer{
    height: 30rem;
    width: 99.9%;
    background-color: black;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top:1px solid rgba(136, 97, 123,0.4);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: block;
    justify-content: center;
    /*background-image: linear-gradient(to bottom,black 15rem,rgb(34, 32, 32),rgb(73, 37, 18));*/
}

.imagef{
    position: relative;
    height: 3.5rem;
    width: 3.5rem;
    background-image: url(profile.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
}

.fedf{
    position: relative;
    top: -0.5rem;
    padding-left: 1rem;
    font-size: 3rem;
    font-weight: 700;
}

.fedf-t{
    text-decoration: none;
}

.logo{
    position: relative;
    top: 5rem;
    display: flex;
    justify-content: center;
}

.togglef{
    position: relative;
    top: 7.5rem;
    display: flex;
    justify-content: center;
}

.space{
    font-size: 1rem;
    padding-left: 1.5rem;
}

.socialf{
    display: flex;
    justify-content: center;
    padding-left: 1.5rem;
}

.circle{
    background-color: rgb(255, 94, 0);
    border-radius: 8rem;
    font-size: 1.75rem;
    padding: 0.25rem;
    position: relative;
    top: 10rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border: none;
}

.linef{
    width: 80%;
    height: 0.1rem;
    background-color: rgb(255, 94, 0);
    position: absolute;
    bottom: 8rem;
    left: 10%;
}

.copyright{
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
}

/*herosection*/

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(191, 109, 157, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.herosec2{
    height: 85rem;
    width: 100%;
    background-image: linear-gradient(to top,black 15rem,rgb(34, 32, 32),rgb(73, 37, 18));
}

.dive{
    padding: 5rem;
    font-size: 9rem;
    text-align: center;
    position: relative;
    z-index: 7;
}

.endless{
    margin-top: -2rem;
    font-size: 3.5rem;
    text-align: center;
    position: relative;
    z-index: 7;
}

.ball1{
    background-image: url(FED/Ellipse\ 2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 9rem;
    width: 9rem;
    position: relative;
    top: -13rem;
    left: 60rem;
    z-index: 0;
}

.box1{
    height: 28rem;
    width: 20rem;
    position: relative;
    top: -22rem;
    left: 66rem;
    transform: rotate(-15deg);
    z-index: 5;
}

.ball2{
    background-image: url(FED/Ellipse\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 18rem;
    width: 18rem;
    position: relative;
    z-index: 0;
    top: -35rem;
    left: 76rem;
}

.box2{

    position: relative;
    top: -46rem;
    left: 20rem;
    height: 26rem;
    width: 41rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 5;
    transform: rotate(-8deg);
    /*background:
    linear-gradient(
      rgba(53, 53, 53, 0.8),
      rgba(40, 40, 40, 0.8)
    );   
    border-radius: 1rem;
    backdrop-filter: blur(10px);*/
}

.ball3{
    background-image: url(FED/Ellipse\ 12.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 16rem;
    width: 16rem;
    position: relative;
    top: -59rem;
    left: 52rem;
}

.text-box{
    width: 18rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.inspire{
    font-size: 3rem;
    position: relative;
    top: -3rem;
}

.lorem{
    font-size: 1.25rem;
    position: relative;
    top: -1rem;
}

.lap{

    background-image: url(FED/left.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 23rem;
    width: 18rem;
    border-radius: 1rem;
    margin-left: 1rem;
}

.ball4{
    height: 20rem;
    width: 20rem;
    background-image: url(FED/Ellipse\ 3.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: -50rem;
    right: -74.5rem;
    z-index: 0;
}

/*sign in*/

.signinmodal{
    height: 39rem;
    width: 30%;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    position: absolute;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.9);
    top: 24rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
}

.logoutmodal{
    height: 25rem;
    width: 30%;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    position: absolute;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.9);
    top: 24rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
}

.logout-b{
    height: 3rem;
    width: 59.5%;
    position: relative;
    top: 11.5rem;
    left: 0.4rem;
    border-radius: 7px;
    border: none;
    font-size: 0.9rem;
    font-weight: 700;
    background-color: white;
    color: black;
}

.s-head{
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    top: 4.5rem;
}

.s-head2{
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    top: 5rem;
}

.close-modal{
    position: absolute;
    font-size: 3rem;
    top: 0.5rem;
    right: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

.username{
    height: 3rem;
    width: 58%;
    position: relative;
    top: 7rem;
    left: 0.4rem;
    border-radius: 7px;
    border: none;
    font-size: 1rem;
    color: black;
    padding-left: 7px;
}

.password{
    color: black;
    height: 3rem;
    width: 57.5%;
    position: relative;
    top: 8rem;
    left: 4.5rem;
    border-radius: 7px;
    border: none;
    font-size: 1rem;
    padding-left: 9px;
}

.forget{
    text-decoration: none;
    font-size: 0.9rem;
    color: grey;
    position: relative;
    top: 10.5rem;
    right: 4rem;
}

.signin-b{
    height: 3rem;
    width: 59.5%;
    position: relative;
    top: 11.5rem;
    left: 0.4rem;
    border-radius: 7px;
    border: none;
    font-size: 0.9rem;
    font-weight: 700;
    background-color: white;
    color: black;
}

.signin-b:hover{
    cursor: pointer;
}

.continue{
    position: relative;
    top: 13rem;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
}

.line1{
    height: 0.05rem;
    width: 4.2rem;
    background-color: white;
    position: absolute;
    top: 0.75rem;
    left: 6.5rem;
}

.or{
    position: relative;
    left: 0.5rem;
    top: 0.1rem;
}

.line2{
    height: 0.05rem;
    width: 4.2rem;
    background-color: white;
    position: absolute;
    top: 0.75rem;
    right: 5.5rem;
}

.logins-b{
    position: relative;
    display: flex;
    top: 15rem;
    left: 4.6rem;
}

.but1{
    height: 3rem;
    width: 4rem;
    margin-left: 2rem;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.but1:hover{
    cursor: pointer;
}

.google{
    position: relative;
    top: 0.2rem;
    right: 0.1rem;
    height: 1.5rem;
}

.facebook{
    position: relative;
    top: 0.1rem;
    height: 1.5rem;
}

.apple{
    position: relative;
    top: 0.1rem;
    height: 1.5rem;
}

.noacc{
    position: relative;
    display: flex;
    top: 17rem;
    left: 6rem;
    font-size: 0.8rem;
}

.noacc-p{
    color: gray;
}

.noacc-a{
    margin-left: 0.5rem;
    text-decoration: none;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 9;
}

.hidden{
    display: none;
}